@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #4a0404;
  color: #f2e8d5;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/* Custom scrolling bar for neatness */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #4a0404;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 3px;
}

@layer utilities {
  .bg-size-200 {
    background-size: 200% 200%;
  }

  .animate-gradient-xy {
    animation: gradient-xy 3s ease infinite;
  }
}

@keyframes gradient-xy {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}